
@import url('https://fonts.googleapis.com/css?family=Antic+Slab|Kelly+Slab|Roboto+Slab');


*, *::after, *::before { box-sizing: border-box; margin: 0; }

body { background: #f6f6f6; font-family: 'Roboto Slab', serif; font-size: 0.8em; }
h1, h2, h3, h5, h5, h5 { font-family: 'Antic Slab', serif; }

iframe,
object,
embed,
video, 
img.img-responsive { height: auto; max-width: 100%; width: 100%; }

.show { display: block !important; }
.hidden { display: none !important; }


table { border-collapse: collapse; border-spacing: 0; display: table; font-family: 'Kelly Slab', serif; width: 100%; }
table, th, td { border: none; }

.table-collapse-odd tbody tr:nth-of-type(odd) { background-color: #CCC; }
.table-collapse-even tbody tr:nth-of-type(even) { background-color: #F1F1F1; }


.navbar { border: 1px solid transparent; margin-bottom: 20px; min-height: 30px; position: relative; }
.navbar .nav { margin: 0; padding: 0; }
.navbar ul { list-style: none; }
.navbar ul li { display: table-cell; padding: 0 10px; }


.btn { background: #FFF; border: 1px solid #000; border-radius: 5px; color: #000; padding: 10px; }


.pull-left { float: left; }
.pull-right { float: right; }



.clearfix:before,
.clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }


.row:before,
.row:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after { display: table; content: " "; }


.row:after,
.container:after,
.container-fluid:after { clear: both; }


.row:before,
.row:after { display: table; content: " "; }


.row:after { clear: both; }


.row {
  margin-right: -15px;
  margin-left: -15px;
}


.container-fluid { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }

.container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }






/*.col-lg-10, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 { float: left; padding: 0 15px; position: relative; }*/

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left; padding: 0 15px; position: relative;
}
/*
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}*/




@media (max-width: 640px) {

	.container { width: 100%; }
	
  	.col-sm { float: left; width: 100%; }

	.navbar { width: 100% !important; }
  	.navbar ul li { display: table-row; }


}


@media (min-device-width : 641px) and (max-device-width : 1024px) { 
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10 { float: left; }

	.col-md-10 {
		width: 100%;
	}
	.col-md-9 {
		width: 90%;
	}
	.col-md-8 {
		width: 80%;
	}
	.col-md-7 {
		width: 70%;
	}
	.col-md-6 {
		width: 60%;
	}
	.col-md-5 {
		width: 50%;
	}
	.col-md-4 {
		width: 33.333333333%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-2 {
		width: 20%;
	}
	.col-md-1 {
		width: 10%;
	}

	body { font-size: 0.6em; }

	.container { max-width: 1024px; }

	.item-servico-home .item-servico-home-titulo a { height: 30px; }
}


@media (min-width: 1025px) and (max-device-width : 1920px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10 {
		float: left;
	}
	.col-lg-10 {
		width: 100%;
	}
	.col-lg-9 {
		width: 90%;
	}
	.col-lg-8 {
		width: 80%;
	}
	.col-lg-7 {
		width: 70%;
	}
	.col-lg-6 {
		width: 60%;
	}
	.col-lg-5 {
		width: 50%;
	}
	.col-lg-4 {
		width: 33.3%;
	}
	.col-lg-3 {
		width: 33.333333333%;
	}
	.col-lg-2 {
		width: 20%;
	}
	.col-lg-1 {
		width: 10%;
	}

	.container { width: 1200px; max-width: 100%; }
}

.no-padding { padding: 0; }